* {
  margin: 0;
}

body {
  background: url("../images/background.png");
  font-size: 8pt;
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.top-banner {
  background: url("../images/bannerbg.png");
  background-repeat: repeat-x;
}
.image-container {
  width: 795px;
  margin: auto;
}

.main {
  width: 800px;
  margin: auto;
  border: 4px grey solid;
  border-radius: 20px;
  overflow: auto;
}

h1 {
  font-size: 24pt;
  font-weight: bold;
  font-family: tahoma, verdana, sans-serif;
  text-shadow: 3px 3px #999999;
  text-align: center;
  padding: 20px;
}

.overview {
  float: right;
  width: 250px;
  background: #a2b964;
  font-size: 8pt;
  font-family: arial, sans-serif;
}

.reviews-bg {
  background: url("../images/rbg.png");
  background-repeat: repeat-x;
  vertical-align: middle;
}

.overall-rating {
  font-size: 48pt;
  font-weight: bold;
  color: red;
  vertical-align: top;
}

.reviews {
  column-count: 2;
  column-gap: 5px;
  padding-left: 8px;
  padding-top: 10px;
  width: 540px;
}
.reviews .review {
  break-inside: avoid;
}

.review {
  font-size: 8pt;
  font-weight: bold;
  background: #e8dc9b;
  border: 2px grey solid;
  border-radius: 10px;
  padding: 8px;
  overflow: auto;
  margin-bottom: 10px;
  margin-right: 10px;
}

.review img,
.reviewer img {
  float: left;
  padding-right: 5px;
}

.reviewer {
  margin-bottom: 20px;
}

dl {
  padding: 10px;
}
dt {
  font-weight: bold;
}
dd {
  padding-left: 30px;
  padding-bottom: 10px;
}

dd ul {
  list-style-type: none;
  padding-left: 8px;
}

.footer {
  background: #a2b964;
  position: relative;
  clear: both;
  left: 0px;
  bottom: 0px;
  width: 780px;
  text-align: center;
  padding: 5px;
  border-bottom-left-radius: 15px;
}
.validators {
  float: right;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f4f4f4;
  margin: 25% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 20%;
}

input[type="button"]#close {
  width: 200px;
  padding: 10px;
  height: 50px;
  background: #bb0002;
  margin-top: 30px;
  color: #fff;
}

.modal-content .modal-header {
  font-size: 24pt;
  font-weight: bold;
}
