body {
  color: #404040;
  font-size: 11pt;
  font-family: Georgia, Garamond, or any sans-serif;
  width: 80%;
  margin: auto;
  background: url("../images/silverware.jpg");
}

h1 {
  color: #a4a400;
  font-family: Lucida Sans Unicode, Helvetica, Arial, or any sans-serif;
  font-size: 18pt;
  letter-spacing: 0.25em;
  text-decoration: underline;
}

h1 span {
  background: #f0f0f0;
}

img {
  border-radius: 10px;
}

h1.main-heading {
  font-size: 22pt;
  text-align: center;
}

a {
  color: #a4a400;
}

pre {
  font-family: "Courier New", Courier, monospace;
}

ul {
  list-style-image: url("../images/pie_bullet.png");
}

blockquote {
  background: #ffffa8;
  font-style: italic;
}

blockquote span {
  font-weight: bold;
}
